<%= render :partial => "scripts" %>

<!-- Hashtag Div -->
<h2> Use of Hashtags</h2>
<div class="contentleftbox">
  <div id="hashtag_pie"></div>
</div>

<!-- Reply Div -->
<h2> Use of @Replies</h2>
<div class="contentleftbox">
  <div id="reply_pie"></div>
</div>

<!-- Reply Div -->
<h2> Use of Host Urls</h2>
<div class="contentleftbox">
  <div id="url_pie"></div>
</div>


<!-- TermCloud Div -->
<h2> Word Tag Cloud </h2>
<div class="contentleftbox">
  <div id="tcdiv"></div>
</div>

<!-- Feeds per Day-->
<h2> Feed Entries per Day </h2>
<div class="contentleftbox">
  <div id="chart_div"></div>
</div>

<!-- Proper Nouns Cloud -->
<h2> Proper Nouns (NLP Processing)</h2>
<div class="contentleftbox">
  <div id="proper_nouns"></div>
</div>