<div id="center">
  <div class="contentcenter">  
    <h2>Listing people of search <%= @search.search_query %> | Total <%= @persons.count.to_s %> </h2>      
    <div class="contentleftbox">
      <%= render :partial => "people/person", :object => @persons %>
    </div>  
  </div>
</div>